In [ ]:
x=50
y=100
x==y
print (x==y)
x is y

False

False

In [ ]:
20>10 or "a"+1>1

True

In [ ]:
name=["dogs"]
name2=["cats"]
"name" in "name2"
len(name)

1

In [ ]:
x=100
y=100
x==y
print (x==y)
x is y

True

True

In [ ]:

name1="Roseline"
name2="Roseline"
name1==name2
print (name1==name1)
name1 is name2

True

True

In [ ]:
name1="tea"
name2="coffee"
name1==name2
print (name1==name2)
name1 is name2

False

False

In [ ]:
x=[3,6,9]
y=[3,6,9]
x==y
print (x==y)
x is y

True

False

In [ ]:
x=["rose"]
y=["rose"]
x==y
print (x==y)
x is y

True

False

In [ ]:
x=["dogs"]
y=["dogs"]
print (x==y)
print (id(x))
print (id(y))
x is y
print (x is y)

True
140331654284096
140331654742912
False

In [ ]:
x=["Tommy"]
y=["Tommy"]
print(x==y)
print ("the value of x==y is",x==y)
print (x is y)
print ("the value of x is y is",x is y)
print (id(x))
print (id(y))
print ("the id of value x is",id(x))
print ("the id of value y is",id(y))

True
the value of x==y is True
False
the value of x is y is False
140331654668480
140331655046336
the id of value x is 140331654668480
the id of value y is 140331655046336

In [ ]:

name="Roseline"
if(len(name)==8):
   print ('hii')

hii

In [ ]:
-7/4

-1.75

In [ ]:
-7//4

-2

In [ ]:
-7%4

1

In [ ]:
x=5
x+=5
print (x)
y=10
x+=y
print (y)
y+=y

10
10

In [ ]:
x=10
y=10
x+=y
print (x)
y+=5
print (y)

20
15

In [ ]:
a=150
b=145
c=150
print (a is c)
print (b is c)
print (a is not c)
print (a is not c)
b+=5
print (b is c)
print (id(a),id(b),id(c))

True
False
False
False
True
9797856 9797856 9797856

In [ ]:
a,b,c=1,2,3
if(a==c):
  print ('true')
elif(a|c==1):
   print ('truee')
else:
   print ('invalid')

invalid

In [ ]:
a,c=1,3
print (a<c|c>a)

True

In [ ]:
S1="abc"
s2=input ("enter the value")
print (s2)
S1==s2
S1 is s2
print (S1==s2)
print (S1 is s2)
s3="abc"
print (S1 is s3)
print (id(S1),id(s2),id(s3))

enter the valueabc
abc
True
False
True
140332205194608 140331654215792 140332205194608

In [ ]:
i=2+3.5j
j=2+3.5j
print (i is j)
print (id(i),id(j))

False
140331615168016 140331615167600